.checktag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: var(--offical-button-layout2);
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;

    &:hover {
        background-color: var(--offical-button-hover);
        border-color: #9287d3;
    }

    &.active {
        background-color: var(--offical-button-active2);
        transform: scale(1.05);
        font-weight: 600;
    }
}