@import '../index.scss';
.co1-1 p,
.co1-2 h3 {
    border-bottom: rgb(238, 238, 238) solid 2px;
}

.co1-1 p a {
    background-color: unset;
}


.front-index a {
    color: var(--offical-text-color);
    background-color: var(--offical-tag-layout);
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    display: inline-block;

}

.warning_out {
    display: flex;
    justify-content: center;
}

.front-index {
    width: 1200px;
    max-width: 80%;
    font-size: 15px;
}

.front {
    width: 100%;
    display: flex;
    justify-content: center;
}

.taghead {
    display: flex;
    justify-content: space-between;

}

.taghead h2 {

    margin: 0;
}
// :root{
//     --offical-color: rgba(0, 0, 0, 0.75)
// }
.co1-1,
.co1-2 {
    border: solid 2px rgb(130, 172, 217);
    background-color: var(--offical-color);
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}


.changeB {
    align-items: center;
    gap: 10px;
}

#changeB input {
    margin: 0;
    /* padding: 0; */

}

#plusbt {
    width: 20px;
    height: 26px;
}

.front_right {
    /* display: flex;
    justify-content: center; */

    width: 100%;
    height: auto;
    max-width: 80%;
    max-height: 200px;
    margin-right: 10px;

}

.front_left {
    max-width: 20%;
    width: 200%;
}

.upload_BG_ImgAre {
    position: fixed;
    bottom: 16px;
    left: 16px;
    display: flex;
}

.upload_BG_ImgAre input {
    /* border: 5px ridge rgb(36, 205, 118); */
    /* border-radius: 2rem; */
    color: #f00;
    transition: all 2s;
}

.upload_BG_ImgAre_inputButton {

    /* border-style: solid; */
    border-radius: 100%;
    border-width: 3px;
    display: block;
    width: 50px;
    height: 50px;
    box-shadow:  0 0 5px rgb(0, 54, 119) ;
    background-color: rgb(117, 120, 128);

}

.upload_BG_ImgAre_inputButton img {
    cursor: pointer;
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px;
    top: 10px;
}

.upload_BG_ImgAre_inputButton:hover {
    transition:
        background-color 0.5s;
    background-color: #cacaca;

}

#tablecontent a, #refrenceTag a {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#tablecontent a.visible, #refrenceTag a.visible {
    opacity: 1;
    transform: translateX(0);
}

#tablecontent .delet_bt {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 96, 96);
    color: aliceblue;
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    border-radius: 100%;
}


.tag_type {
    height: 60%;
}



#tag_type_form {
    height: 100%;
}

.tagblock {
    display: inline-flex;
    background-color: rgb(214, 214, 214);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    margin: 3px;
    color: black;
}



.scrolBT {
    display: flex;
    position: relative;
    /* justify-content: space-between; */


}

#scrolBT_1,
#scrolBT_2 {
    position: absolute;

    top: -47px;
    opacity: 0;

    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
}

#scrolBT_1 {
    left: -10px;

}

#scrolBT_2 {

    right: -10px;
}


#scrolBT_1:hover, #scrolBT_2:hover{
    transition: all 0.2s;
    opacity: 1;
    box-shadow: 0 0px 20px rgb(127, 237, 243);
    background-color: rgba(130, 193, 247, 0.7);
}


#f_w_head a {
    text-decoration: none;
    color: var(--offical-text-color);
    padding-bottom: 5px;
    position: relative;

}

#f_w_head a.active {
    color: var(--offical-color);
}

#taggroupline a:hover::after,
#f_w_head a:hover::after {
    transition: height 0.3s;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    /* background-color: blue; */
}

#taggroupline a.active::after,
#f_w_head a.active::after {
    content: '';
    text-decoration: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    /* background-color: blue; */
    padding-bottom: 2px;

}

@media (max-width: 480px) {

}